<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container-fluid navbar-custom">
    <div class="container-fluid p-3 text-left">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="/static/Images/image_prev_ui.png" alt="Logo" class="logo">
                </div>
                <div class="col">
                    <h1 class="mb-0 logo-text">DetectXpert</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}"><i class="fa-solid fa-question"></i> About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('detect') }}"><i class="fa-solid fa-eye"></i> Detection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/report"><i class="fa-solid fa-bug"></i> Report</a>
            </li>
        </ul>
    </div>
</div>

<div class="container mt-5">
    <div class="container border border-5 border-dark bg-light rounded shadow mb-5 p-5" id="report-msg"> 
        <div class="container">
            <h1 class="mb-3">Thank You!</h1>
            <p>Thank you from the depths of our hearts for taking the time to share your valuable feedback with us. Your willingness to report bugs not only helps us improve our service but also strengthens the bond between us. Your contribution is like a beacon guiding us towards greater excellence. We're deeply grateful for your support and trust. Together, we'll continue to grow and enhance the experience for all our users. Thank you for being an integral part of our journey towards perfection.</p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer" style="background-color: #176087; color: #afd7f6;">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <h3 class="mb-4">Subscribe for Updates</h3>
                <form class="subscribe-form form-inline">
                    <input type="email" class="form-control mr-2 mb-2 mb-md-0" placeholder="Enter your email">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3 class="mb-4">Contact Us</h3>
                <p>Email: <a href="mailto:2110520021@klh.edu.in" class="text-light">2110520021@klh.edu.in</a></p>
                <p>Phone: <span class="text-light">XXXXXXXX999</span></p>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/script.js"></script>

</body>
</html>
